In [102]:
#library to use dataframes
import pandas as pd
# library to connect & interact with databases
# SQLAlchemy   to access SQLite3 database system.
# SQLAlchemy supports all popular database 
# systems including SQLite3, MySQL, PostgreSQL, Oracle, Microsoft SQL Server etc

from sqlalchemy import create_engine, inspect

In [103]:
#set the database file location to a variable
#r indicates read file as is, i.e as plain characters
sqlite_file = r'boardgames.sqlite'

# set the connection to SQLite database in a variable
# argument is usually a string that indicates database dialect
# where dialect is a database name such as mysql, oracle, postgresql, etc.
# To start workin with SQLAlchemy, the first thing  is 
# create an Engine. The Engine is how SQLAlchemy communicates with your database, 
# so, when creating the Engine you should add your database (db) URL and thatâ€™s basically it.
engine = create_engine(f"sqlite:///{sqlite_file}")

In [104]:
#get a list of all the tables in the database
engine.table_names()

['BoardGames',
 'bgg.ldaOut.top.documents',
 'bgg.ldaOut.top.terms',
 'bgg.ldaOut.topics',
 'bgg.topics']

### To find the size of the table we use df.shape and extract the number of rows and columns in the table

In [105]:
sql_1 = "SELECT * FROM BoardGames;"
BoardGames_df = pd.read_sql(sql_1, engine)
BoardGames_df.shape

(90400, 81)

In [106]:
#because of the dot in the table name we have to pass the name in a []
sql_2 = "SELECT * FROM [bgg.ldaOut.top.documents];"
bgg_documents_df = pd.read_sql(sql_2, engine)
bgg_documents_df.shape

(288, 4)

In [107]:
#because of the dot in the table name we have to pass the name in a []
sql_3 = "SELECT * FROM [bgg.ldaOut.top.terms];"
bgg_terms_df = pd.read_sql(sql_3, engine)
bgg_terms_df.shape

(250, 4)

In [108]:
#because of the dot in the table name we have to pass the name in a []
sql_4 = "SELECT * FROM [bgg.ldaOut.topics];"
bgg_otopics_df = pd.read_sql(sql_4, engine)
bgg_otopics_df.shape

(29229, 2)

In [109]:
#because of the dot in the table name we have to pass the name in a []
sql_5 = "SELECT * FROM [bgg.topics];"
bgg_topics_df = pd.read_sql(sql_5, engine)
bgg_topics_df.shape

(29313, 74)